token/
*/__pycache__/
*.pyc
*/.DS_Store
setup.py
understar/system/.DS_Store
understar/system/app/.DS_Store
understar/system/app/config/.DS_Store
understar/system/app/config/apt/.DS_Store
understar/system/app/maintenance/.DS_Store
understar/system/app/update/.DS_Store
understar/system/lib/.DS_Store
.DS_Store
